.landing {
  position: relative;

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__textbox {
      margin-top: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__heading {
        color: $color-black;
        backface-visibility: hidden;
        font-size: 5rem;
        font-weight: 700;
      }

      &__text {
        color: $color-grey-dark;
        backface-visibility: hidden;
        font-size: 2rem;
      }
    }
  }
}

.purple-text {
  color: $color-primary;
}

.payments {
  list-style: none;

  &__container {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40rem;
  }

  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    color: #fff;
    padding: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 90px;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    transition: all 0.4s;

    &__text {
      display: none;
      transition: all 0.4s;
    }

    &:hover {
      width: 15rem;
      justify-content: right;
    }

    &:hover &__text {
      display: block;
      font-size: 1.75rem;
      margin-left: 1rem;
    }
  }

  &__credits {
    list-style: none;
    color: $color-grey-dark-3;
    font-size: 1.75rem;
  }

  &__logout {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-grey-dark-3;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 2rem;
    width: 10rem;
    height: 5rem;
    border-radius: 90px;
    border: none;
  }
}
